<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../static/css/login.css">
</head>
<body>
    <div>
        <img src="../static/image/logo.png">
    </div>
    <div class="nav">
        <div>Home</div>
        <div>About</div>
        <div class="profile">Profile</div>
    </div>
    <div class="next">
        <div class="text">
            <pre class="co">
Are you looking to get Public and Private
    company information, your startup 
valuation, Pitch Decks, and other multiple financial
features for your business in one
    place.
You are in the right place. NumberLeader 
    helps you find everything here
            </pre>
        </div>
        <div class="right">
            <div class="text2">Login with Social Media or Manually</div>
                
            <div class="buttons">
                <div class="buttn">
                    <button class="btn col1">Login with Facebook</button><br>
                    <button class="btn col2">Login with Twitter</button><br>
                    <button class="btn col3">Login with Google+</button><br>
                    <a href="{% url 'register' %}">
                        <button class="btn col2">SignUp</button>
                    </a>
                </div>
                <div class="he">
                    <form action="{% url 'login' %}" method="POST">
                        {% csrf_token %}
                        <input type="text" placeholder="Username" name="username" id="username" required><br>
                        <input type="password" placeholder="Password" id="password" name="password"
                                required><br><br>
                        <button class="btn col4" type="submit">Login</button>
                    </form>
                    <a href="#">
                        <button class="btn col2">Forgot Password??</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
